@page
@model AceJobAgency.Pages.ResetPasswordEmailModel
@{
}
<div class="container mt-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-12 col-md-12 col-lg-4">
			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="UserEmail">Email Address</label>
					<input type="Text" asp-for="UserEmail" class="form-control" />
					<span asp-validaton-for="email" class="text-danger"></span>
				</div>

				<button class="btn btn-primary" asp-page-handler="Reset">Reset Password</button>
			</form>
		</div>
	</div>
</div>